<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	convertDeprecationsToExceptions="false"
	failOnWarning="true"
	failOnRisky="true"
	>
	<testsuites>
		<testsuite name="ltm-core">
			<directory suffix=".php">./tests/</directory>
			<exclude>./tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes/</directory>
		</include>
	</coverage>
	<php>
		<const name="WP_TESTS_MULTISITE" value="0"/>
	</php>
</phpunit>
