body {
  &.logged-in {
    header .header-wrapper .top-head {
      margin-top: 32px;
      @media screen and (max-width: 782px) {
        margin-top: 46px;
      }
    }

    header .header-wrapper .bottom-head {
      &.sticky {
        margin-top: 32px;

        @media screen and (max-width: 782px) {
          margin-top: 46px;
        }
      }
    }

    #wpadminbar {
      &.mobile {
        position: fixed;
      }
      @media screen and (max-width: 782px) {
        position: fixed;
      }
    }

  }
}
