.idea
.htaccess

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
uploads/
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*

object-cache.php
mysql.sql
index.php
plugins/index.php
plugins/ACF-PHP-Recovery-master
plugins/create-acf-gutenberg-block

node_modules/
themes/latitudemedia/static/