# Ignore everything
*
!*/

# Keep almost everything inside the theme
!/wp-content/themes/latitudemedia/**
wp-content/themes/latitudemedia/node_modules/

# Keep almost everything inside our own plugin (other plugins are Pressable-managed)
!/wp-content/plugins/ltm-core/**
wp-content/plugins/ltm-core/node_modules/

# Other files we want to keep
!/README.md
!/.deployignore
!/.gitignore
!/.tool-versions
!/.github/workflows/ltm-core-tests.yml