# Ignore everything
*
!*/

# Keep almost everything inside the theme
!/wp-content/themes/latitudemedia/**
wp-content/themes/latitudemedia/node_modules/

# Other files we want to keep
!/README.md
!/.deployignore
!/.gitignore
!/.tool-versions