.single-events {
  header {
    padding-bottom: 0;
  }
  a {
    color: $green;
  }
  .grey-cta-block {
    .grey-cta-block-wrapper {
      h2 {
        margin-bottom: 32px;
      }
    }
  }

  .right-sidebar-layout {
    h2 {
      text-align: center;
      margin-bottom: 64px;
    }
    .right-sidebar-layout-wrapper {
      .main-column {
        .grey-icon-block {
          height: auto;
          margin-bottom: 56px;
        }
      }
      .sidebar {
        width: 477px;
        @include below_md {
          width: 100%;
        }
      }
    }
  }
}

.grey-cta-block {
  .grey-cta-block-wrapper {
    h2 {
      margin-bottom: 16px;
    }
  }
}