.single-events {
  header {
    padding-bottom: 0;
  }
  a {
    color: $green;
  }
  .grey-cta-block {
    .grey-cta-block-wrapper {
      h2 {
        margin-bottom: 32px;
      }
    }
  }
}

.grey-cta-block {
  .grey-cta-block-wrapper {
    h2 {
      margin-bottom: 16px;
    }
  }
}