.single-order-reports {
  header {
    padding-bottom: 0;
  }
  .single-research-featured-section {
    margin-bottom: 0;
  }
  .image-text-section {
    background-color: #F5F5F5;
    .image-text-section-wrapper {
      padding: 64px;
      @include below_sm {
        padding: 32px;
      }
    }
  }
}