.single-sections-landing {
  header {
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}

.single-sections-landing {
  .posts-hero-section {
    .posts {
      li {
        &.prime-post {
          border-bottom: none;
          .image-folder {
            width: 33%;
          }
          .content-folder {
            width: 62%;
            h1 {
              @include fontSize(48px);
              line-height: 64px;
              a {
                @include fontSize(48px);
                line-height: 64px;
              }
            }
          }
        }
      }
    }
  }
}