.studios {
  header {
    padding-bottom: 0;
  }
}

.studios-featured-section {
  margin-bottom: 64px;
  @include advertisePodcastsFeaturedSection;
}

.studios-text-block {
  @include studiosTextBlock;
  margin-bottom: 64px;
}