//Type
$inter: var(--wp--preset--font-family--body-font);
$lora: var(--wp--preset--font-family--heading-font);

//Colors
$black: #000000;
$white: #ffffff;
$primary-pink: #C6168D;
$primary-dark-blue: #0F1E42;
$green: #00B48D;
$blue: #0095DA;
$orange: #F99D1C;
$primary-blue: #1351CD;
$pink_category_bg: #F9E8F4;
$pink_shadow: #F9E8F4;
$primary_blue_shadow: #E7EEFA;
$green_shadow: #CCF0E8;
$blue_shadow: #E5F4FC;
$orange_shadow: #FEEBD2;
$grey_bg: #F5F5F5;

//theme.json presets
$brand-midnight-blue: var(--wp--preset--color--midnight-blue);
$brand-white: var(--wp--preset--color--white);
$brand-magenta-bliss: var(--wp--preset--color--magenta-bliss);
$brand-feather-gray: var(--wp--preset--color--feather-gray);
$brand-lilac-luster: var(--wp--preset--color--lilac-luster);
$brand-coral-crush: var(--wp--preset--color--coral-crush);
$brand-melon-mist: var(--wp--preset--color--melon-mist);
$brand-seafoam-splash: var(--wp--preset--color--seafoam-splash);
$brand-sunburst-orange: var(--wp--preset--color--sunburst-orange);
$brand-electric-blue: var(--wp--preset--color--electric-blue);

//Different
$bg-cover: cover !important;
$bg-content: content !important;

// Breakpoints
$screen-mob: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;