@import "../core/core_loader";
.navigation-menu-section {
  position: sticky;
  top: 164px;
  background-color: $white;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  z-index: 10;
  &.admin {
    top: 196px;
  }
  &.pink-theme {
    .navigation-menu-links {
      a {
        &:hover {
          background-color: $primary-pink !important;
          color: $white !important;
        }
      }
      .active {
        &::after {
          background-color: $primary-pink !important;
        }
      }
    }
  }
  @include below_sm {
    top: 126px;
    &.admin {
      top: 172px;
    }
  }
  .navigation-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation-menu-links {
      display: flex;
      gap: 24px;

      &::-webkit-scrollbar {
        display: none;
      }
      a {
        text-decoration: none;
        color: $primary-dark-blue;
        position: relative;
        padding: 20px;
        &.active {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: $green;
            position: absolute;
            bottom: 0px;
            left: 0px;
          }
          &:hover {
            background-color: transparent !important;
            color: $primary-dark-blue !important;
          }
        }
      }
    }
    .buttons-container {
      display: flex;
      gap: 24px;
      .nav-button {
        background-color: $primary-pink;
        text-decoration: none;
        color: $white;
        padding: 7px 24px;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
      }
      @include below_sm {
        display: none;
      }
    }
  }
}
