@import "../core/core_loader";

.event-agenda-v2-section {
  margin-bottom: 64px;
  &.pink-separator {
    .bordered-title {
      border-bottom: 5px solid $primary-pink !important;
    }
  }
  .event-agenda-v2-dropdown-wrapper {
    display: flex;
    justify-content: center;
    .selector-container {
      display: inline-block;
      position: relative;
      @include below_sm {
        width: 100%;
      }
      .event-agenda-v2-day-selector {
        position: relative;
        min-width: 200px;
        width: fit-content;
        padding: 10px 40px 10px 10px;
        background-color: $white;
        border: 1px solid $primary-pink;
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        font-weight: 800;
        z-index: 0;
        &::-ms-expand {
          display: none;
        }
        @include below_sm {
          width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid $primary-pink;
        pointer-events: none;
        transition: transform 0.3s ease;
        transform: translateY(-50%) rotate(0deg);
      }

      &.open::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .event-agenda-v2-agenda-items {
    .event-agenda-v2-item {
      display: flex;
      gap: 30px;
      border-bottom: 1px solid $primary-pink;
      padding: 30px;
      .event-agenda-v2-item-time {
        color: $green;
        font-weight: 700;
      }
      .event-agenda-v2-item-content {
        .event-agenda-v2-item-title {
          color: $primary-dark-blue;
          font-weight: 700;
          margin-bottom: 10px;
        }
        .event-agenda-v2-item-description {
          color: $primary-dark-blue;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .event-agenda-v2-item-speakers {
          color: $primary-dark-blue;
          font-weight: 400;
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
          @include below_md {
            grid-template-columns: repeat(2, 1fr);
          }
          @include below_sm {
            grid-template-columns: repeat(1, 1fr) !important;
          }
          .event-agenda-v2-speaker {
            display: flex;
            gap: 10px;
            .event-agenda-v2-speaker-image-wrapper {
              width: 60px;
              height: 60px;
              flex-shrink: 0;
              border-radius: 50%;
              overflow: hidden;
              border: 1px solid $primary-dark-blue;
              img {
                object-fit: cover;
                object-position: center;
              }
            }
            .event-agenda-v2-speaker-info {
              .event-agenda-v2-speaker-name {
                font-weight: 700;
              }
              .event-agenda-v2-speaker-job-title {
                font-weight: 400;
              }
              .event-agenda-v2-speaker-company {
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
