@import "../core/core_loader";
.contact-us-section {
  margin-bottom: 64px;
  &.pink-theme {
    .bordered-title {
      border-bottom: 5px solid $primary-pink !important;
    }
    .contact-us-cards-wrapper {
      .contact-us-card {
        .card-button {
          .cta-button {
            -webkit-box-shadow: -10px 10px 0 0 #f9e8f4 !important;
            -moz-box-shadow: -10px 10px 0 0 #f9e8f4 !important;
            box-shadow: -10px 10px 0 0 #f9e8f4 !important  ;
            border: 1px solid $primary-pink !important;
            color: $primary-pink !important;
            &:hover {
              background-color: $primary-pink !important;
              color: $white !important;
            }
          }
        }
      }
    }
  }
  .contact-us-section-wrapper {
    margin-bottom: 32px;
  }
  .contact-us-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include below_md {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    @include below_mob {
      grid-template-columns: 1fr;
    }
    gap: 80px;
    .contact-us-card {
      display: flex;
      flex-direction: column;
      .card-button {
        flex: 1;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
