@import "../core/core_loader";
.navigation-menu-section {
  position: sticky;
  top: 196px;
  background-color: $white;
  padding: 20px 0;
  @include below_sm {
    top: 171px;
  }
  .navigation-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation-menu-links {
      display: flex;
      gap: 24px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      a {
        text-decoration: none;
        color: $primary-dark-blue;
        position: relative;
        &.active {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: $green;
            margin-top: 20px;
            position: absolute;
            bottom: -27px;
          }
        }
      }
    }
    .buttons-container {
      display: flex;
      gap: 24px;
      .nav-button {
        background-color: $primary-pink;
        text-decoration: none;
        color: $white;
        padding: 7px 24px;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
      }
      @include below_sm {
        display: none;
      }
    }
  }
}
