@import "../core/core_loader";
.single-event-hero-section {
  @include singleEventHeroSection;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0f1e42cc, #0f1e42cc);
    z-index: 1;
  }
}