@import "../core/core_loader";
.logo-description-block {
  margin-bottom: 64px;
  @include logoDescriptionBlock;
}

.icon-text-block {
  margin-bottom: 64px;
  @include iconTextBlock;
  @include below_sm {
    margin-bottom: 32px;
  }
}

.podcasts-sponsorship-section {
  margin-bottom: 64px;
  @include podcastsSponsorshipSection;
}

.image-text-section {
  margin-bottom: 64px;
  @include imageTextSection;
}
.image-text-section.is-style-type4 {
  .image-text-section-wrapper {
    .image-folder {
      @include imageFolderLarge;

      a {
        padding-top: 53.8%;
      }
    }

    .content-folder {
      p {
        a {
          font-weight: 400;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}