@import "../core/core_loader";
.logo-description-block {
  margin-bottom: 64px;
  @include logoDescriptionBlock;
}

.icon-text-block {
  margin-bottom: 64px;
  @include iconTextBlock;
  @include below_sm {
    margin-bottom: 32px;
  }
}