.home {
  header {
    padding-bottom: 40px;
  }
  .event-large-item-section {
    .event-large-item-section-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 880px;
    }
  }
  .content-block {
    &.editors-picks-block {
      display: none;
      @include below_md {
        display: block;
      }
    }
  }
  .sidebar-block {
    &.editors-picks-block {
      @include below_md {
        display: none;
      }
    }
  }
}