:root {
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #0F1E42;
  --grey: #F5F5F5;
  --primary-pink: #C6168D;
  --pink-shadow: #F9E8F4;
  --blue: #0095da;
  --blue-shadow: #E5F4FC;
  --green: #00B48D;
  --green-shadow: #CCF0E8;
  --orange: #F99D1C;
  --orange-shadow: #FEEBD2;
  --custom-block-base-color: #C6168D;
  --custom-block-shadow-color: #F9E8F4;
}

.has-black-background-color {
  background-color: var(--black);
}
.has-white-background-color {
  background-color: var(--white);
}
.has-dark-blue-background-color {
  background-color: var(--dark-blue);
}
.has-grey-background-color {
  background-color: var(--grey);
}
.has-primary-pink-background-color {
  background-color: var(--primary-pink);
}
.has-pink-shadow-background-color {
  background-color: var(--pink-shadow);
}
.has-blue-background-color {
  background-color: var(--blue);
}
.has-blue-shadow-background-color {
  background-color: var(--blue-shadow);
}
.has-green-background-color {
  background-color: var(--green);
}
.has-green-shadow-background-color {
  background-color: var(--green-shadow);
}
.has-orange-background-color {
  background-color: var(--orange);
}
.has-orange-shadow-background-color {
  background-color: var(--orange-shadow);
}

.has-black-color {
  color: var(--black);
}
.has-white-color {
  color: var(--white);
}
.has-dark-blue-color {
  color: var(--dark-blue);
}
.has-grey-color {
  color: var(--grey);
}
.has-primary-pink-color {
  color: var(--primary-pink);
}
.has-pink-shadow-color {
  color: var(--pink-shadow);
}
.has-blue-color {
  color: var(--blue);
}
.has-blue-shadow-color {
  color: var(--blue-shadow);
}
.has-green-color {
  color: var(--green);
}
.has-green-shadow-color {
  color: var(--green-shadow);
}
.has-orange-color {
  color: var(--orange);
}
.has-orange-shadow-color {
  color: var(--orange-shadow);
}
.single-events {
  header {
    padding-bottom: 0;
  }
}
header {
  padding-bottom: 64px;
}

.right-sidebar-layout {
  .right-sidebar-layout-wrapper {
    display: flex;

    .main-column {
      width: 100%;
      flex: 1 0 0px;
      min-width: 1px;
      @include below_md {
        margin-bottom: 40px;
      }
    }

    .sidebar {
      width: 360px;
      margin-left: 40px;
      @include below_md {
        width: 100%;
        margin-left: 0;
      }

      .posts-list-section {
        .bordered-title {
          margin-bottom: 16px;
        }

        .posts {
          li {
            display: block;
            padding-bottom: 16px;
            margin-bottom: 16px;

            .banner-ad-block {
              margin: 32px 0;
            }

            .title {
              @include fontSize(18px);
              line-height: 24px;
            }
          }
        }
      }
      .form-block {
        .form-block-wrapper {
          form {
            input {
              &:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    @include below_md {
      flex-direction: column;
    }
  }
}

.topics-title-block {
  .topics-title-block-wrapper {
    .parent-category-link {
      text-decoration: underline;
      text-transform: uppercase;
      font-family: $inter;
      @include fontSize(16px);
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      display: inline-block;
      margin-bottom: 24px;
      color: $primary-dark-blue;

      &:hover {
        text-decoration: none;
      }
    }

    .topics-title {
      margin-bottom: 32px;
      color: $primary-dark-blue;
    }
  }
}

.bordered-title {
  font-family: $inter;
  @include fontSize(24px);
  font-weight: 800;
  line-height: 32px;
  text-align: left;
  color: $primary-dark-blue;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 5px solid $primary-pink;
  margin-bottom: 16px;
  &.pink {
    border-bottom: 5px solid $primary-pink;
  }
  &.green {
    border-bottom: 5px solid $green;
  }
  &.blue {
    border-bottom: 5px solid $blue;
  }
  &.orange {
    border-bottom: 5px solid $orange;
  }
}

article {
  p {
    @include fontSize(18px);
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 24px;
    color: $primary-dark-blue
  }
  h2 {
    font-family: $lora;
    @include fontSize(32px);
    line-height: 45px;
    font-weight: 700;
    color: $primary-dark-blue;
    margin-bottom: 24px;
    @include below_mob {
      @include fontSize(28px);
      line-height: 39px;
    }
  }
  h3 {
    font-family: $lora;
    @include fontSize(24px);
    line-height: 34px;
    font-weight: 700;
    color: $primary-dark-blue;
    margin-bottom: 24px;
  }
  h4 {
    font-family: $lora;
    @include fontSize(20px);
    line-height: 28px;
    font-weight: 700;
    color: $primary-dark-blue;
    margin-bottom: 24px;
  }
  a {
    color: $blue;
  }
  ol {
    margin: 0 0 24px 0;
    padding: 0 0 0 20px;
    li {
      margin-bottom: 8px;
      @include fontSize(18px);
      line-height: 24px;
      font-weight: normal;
    }
  }
  ul {
    margin: 0 0 24px 0;
    padding: 0 0 0 20px;
    li {
      margin-bottom: 8px;
      @include fontSize(18px);
      line-height: 24px;
      font-weight: normal;
    }
  }
}

.advertise {
  text-align: center;
  a {
    display: inline-block;
    text-decoration: none;
  }
  img {
    display: inline-block;
  }
  iframe {
    display: inline-block;
  }
}

.banner-ad-block {
  @include bannerAdBlock;
}

.pager {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 12px;
      @include below_sm {
        margin: 0 4px;
      }

      a, .current {
        width: auto;
        display: block;
        padding: 16px 24px;
        @include transition3;
        font-family: $inter;
        @include fontSize(14px);
        font-weight: 800;
        line-height: 22px;
        letter-spacing: 0.3em;
        text-align: center;
        box-shadow: -10px 10px 0 -1px;
        border: 1px solid;
        margin-left: 10px;
        text-decoration: none;
        @include below_sm {
          padding: 8px 6px 8px 10px;
          line-height: 16px;
          box-shadow: -4px 4px 0 -1px;
          border: 1px solid;
          margin-left: 4px;
        }
      }

      span {
        @include transition3;
      }

      @include pagination_item_colored($primary-pink, $pink_shadow, $white);
    }
  }
}

.container {
  .content-block {
    .container {
      all: unset;
    }
  }
}
.container-narrow {
  .content-block {
    .container-narrow {
      all: unset;
    }
  }
}

.cta-button {
  @include shadowButton
}

.strict-button {
  @include pinkButton;
}

.page-id-2016 {
  header {
    padding-bottom: 0;
  }
}